#tex-result-wrapper{
	margin: 5px;
	resize: both;
	overflow: scroll;
	border: 1px solid white;
	height:37px;
	display: inline-block;
}
#image-wrapper{
	display: inline-block;
	width: 100px;
}
#image-resizable-container{
	resize: both;
	overflow: scroll;
	border: 1px solid white;
	height:37px;
}
#tex-result{
	display:inline-block;
	padding-right:50px;
}
.keyboard-row{
	overflow: hidden;
	min-height:20px;
	border-radius:5px;
	background-color:#EEE;
	text-align:center;
}.keyboard-key{
	min-width:32px;
	display:inline-block;
	margin:2px;
	border:1px solid black;
	border-radius:7px;
	padding:7px;
	background-color:#DDD;
	min-height:20px;
	text-align:center;
	overflow: hidden;
}
#tex-text{
	width:100%;
	min-height: 50px;
}
